.bar.simple .bar.s3 { background: #143787;}
.bar.simple .bar:hover.s3 { background: #b10ee3;}
.bar.simple .bar.s2 { background: #0ee315;}
.bar.simple .bar:hover.s2 { background: #b10ee3;}
.bar.simple .bar.s1 { background: #e37c0e;}
.bar.simple .bar:hover.s1 { background: #b10ee3;}
.bar.simple .bar.s0 { background: #e30e27;}
.bar.simple .bar:hover.s0 { background: #b10ee3;}