/* СМЕНА ОБЛОЖЕК */

/* Общие настройки обложек */
.b-catalog_entry .cover .image-cutter,
.b-catalog_entry-tooltip > a,
.entry-tooltip_container > .image-link {
  background-size: cover;
  background-position: top center;
}

/* Изменение контейнера во всплывающей подсказке */
.b-catalog_entry-tooltip > a,
.entry-tooltip_container > .image-link {
  float: left;
  width: 160px;
  height: 249.34px;
}

/* Список селекторов – скрываем стандартные обложки */
[class *= 'b-catalog_entry'] > a[href *= 'characters/503-'] img,
[class *= 'b-catalog_entry'] > a[href *= 'characters/147242-'] img,
[class *= 'b-catalog_entry'] > a[href *= 'characters/2087-'] img,
[class *= 'b-catalog_entry'] > a[href *= 'characters/13701-'] img {
  opacity: 0;
}

/* Смена обложки – Иллиясфиль фон Айнцберн (персонаж) */
.b-catalog_entry a[href *= 'characters/503-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/503-'] {
  background-image: url(https://i.imgur.com/LXMAzwb.jpg);
  background-position: 80%;
}
/* Смена обложки – Мисака Микото (персонаж) */
.b-catalog_entry a[href *= 'characters/13701-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/13701-'] {
  background-image: url(https://i.imgur.com/N5pi6cI.jpg);
  background-position: 69%;
}
/* Смена обложки – Грей (персонаж) */
.b-catalog_entry a[href *= 'characters/147242-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/147242-'] {
  background-image: url(https://i.imgur.com/GuoWspZ.jpg);
}
/* Смена обложки – Арчер (персонаж) */
.b-catalog_entry a[href *= 'characters/2087-'] .image-cutter,
.b-catalog_entry-tooltip > a[href *= 'characters/2087-'] {
  background-image: url(https://i.imgur.com/JHMBKru.jpg);
}
