/*Всегда на отдыхе*/
.profile-head header.head .misc span {
display: none;
}

.p-profiles .profile-head .c-brief header::after {
  display: block;
  position: absolute;
  color: #777777;
  font-size: .875rem;
  line-height: 1.5rem;
  padding: 0;
  content: "Всегда на отдыхе";
  top: 20%;
  left: 37.5%;
}

@media screen and (max-width: 767px) {
    .p-profiles .profile-head .c-brief header::after {
        top: 30% !important;
        left: 34%; 
    }
}
